.profiles{
  background-color: #50AD79;
}

.profiles img{
  width: 50%;
  margin:0 25%;
  margin-top: 5%;
  @media screen and (min-width: 768px){
    width: 80%;
    margin: auto;
    padding: 0;
    margin-top: 10%;
    }
}

.thumb__details{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border: none;
  padding: 5% 0;
  color: black;
  height: 10%;
  font-size: 50%;
}
.thumb__link{
  color: #97F2B8;
}

.thumbnail{
  @media screen and (min-width:768px){
    width: 80%;
    margin: auto;
  }
}
