.projects{
  background-color: #50AD79;
}

.projects img{
  width: 90%;
  margin: 0 5%;
  margin-top: 5%;
}

.project__details{
  width: 90%;
  margin: 0 5%;
  border: none;
  padding: 3% 0;
  height: 10%;
  font-size: 50%;
  color: #DBDBDB;
  margin-bottom: 5%;
}
.project__details h1{
  font-size: 100%;
  font-weight: 700;
  color: #919191;
}
