.intro-style{
  background: #fff;
  margin: 0 20%;
  @media screen and (min-width: 768px){
    margin: 0 2%;
  }
}
.intro-style h1{
  font-size: 90%;
  font-family: "Palatino";
  font-weight: 100;
  margin-top: 1%;
  @media screen and (min-width: 768px){
    font-size: 170%;
    margin-top: -3%;
    margin-bottom: -1%;
  }
}

.intro-style p{
  font-size: 70%;
  margin-top: 5%;
  @media screen and (min-width: 768px){
    font-size: 100%;
    margin: 0 20%;
    padding-top: 3%;
  }
}
.intro-box {
  @media screen and (min-width: 768px){
    background: #50AD79;
  }
}
.middle-style{
  background: #50AD79;
  margin: auto;
  color: #D2D9D5;
}

.middle-style h1{
  font-size: 90%;
  font-family: "Palatino";
  font-weight: 0;
  margin-top: 1%;
}

.middle-style p{
  font-size: 70%;
  margin-top: 5%;
  margin: 0 5%;
}

.botttom{
  padding-top: 10%;
}

.background-splash{
  background-image: url("../images/solrod-drawingboard-background.jpg");
	background-size: cover;
	color: #fff;
	position: relative;
}
.size{
  height: 100%;
}
.btn-custom{
  width: 90%;
  margin: 10% 5%;
  background: #677EA1;
  border: 1px solid #677EA1;
  line-height: 25px;
}

.bottom a{
  font-size: 45%;
  font-weight: 100;
  letter-spacing: 1px;
}
