
*{ box-sizing: border-box }

img {
   width: 100%;
   display: block;
}

@import "./header";
@import "./section";
@import "./profiles";
@import "./projects";

#app-container{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.column-container{
  font-size: 0;
  > *{
    display: inline-block;
    vertical-align: top;
    font-size: medium;
  }

}
